# Backend local dependencies & runtime
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment & secrets
.env
.env.*
*.pem
*.key
*.cert
*.crt
serviceAccountKey.json
firebase-service-account.json

# Uploads
uploads/*
!uploads/.gitkeep
